@font-face {
  font-family: "Funnel Sans";
  src: url(fonts/FunnelSans-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --content-font: "Funnel Sans";
  --header-font: "Sour Gummy";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.game-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.game-header {
  display: flex;
  justify-content: center;
  background-color: #bf7245;
  padding: 20px 100px;
  > h1 {
    font-family: var(--header-font);
    font-size: 2rem;
  }
}

div[class^="cell"] {
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  position: relative;
  font-size: 2rem;
  &.filled {
    background-color: grey;
  }
  &.winner {
    background-color: green;
  }
}

div[class^="row"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  background-color: red;
}

.game {
  background-color: #d9b596;
  display: flex;
  justify-content: center;
  > .game-board {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    padding: 100px;
    width: 1000px;
    &.game-over {
      pointer-events: none;
    }
  }
}

/* prettier-ignore  */
@font-face {
  font-family: "Sour Gummy";
  src: url(fonts/SourGummy-VariableFont_wdth,wght.ttf);
  font-weight: normal;
  font-style: normal;
}
